header{
    font-size: 30px;
    font-weight: bolder;
    color: purple;
    text-align: center;
    text-transform: uppercase;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aqua;
    text-align: justify;
    padding: 10px;
    border: 10px solid purple;
    border-radius: 10px;
}
#items{
    background-color: aquamarine;
    padding: 20px 40px;
    border-radius: 5px;
    border: 10px dotted purple;
}