#blue h1{
    color: blue;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;

}
#blue p{
    background-color: darkseagreen;
    padding: 10px;
    border-radius: 10px;
    border: 10px solid blue;
}